<div>
  <form [formGroup]="profileGroup" (ngSubmit)="onSumbit()">
    <div>
      <label for="">
        Ваше имя
        <input
          type="text"
          name="firstname"
          placeholder="Ваше имя"
          formControlName="firstname"
        />
      </label>
      <div
        class="alert alert-danger"
        *ngIf="
          profileGroup.controls['firstname'].invalid &&
          profileGroup.controls['email'].touched
        "
      >
        Данное поле должно быть заполнено
      </div>
    </div>
    <div>
      <label for="">
        Ваша фамилия
        <input
          type="text"
          name="lastname"
          placeholder="Ваша фамилия"
          formControlName="lastname"
        />
      </label>
      <div
        class="alert alert-danger"
        *ngIf="
          profileGroup.controls['lastname'].invalid &&
          profileGroup.controls['email'].touched
        "
      >
        Данное поле должно быть заполнено
      </div>
    </div>
    <div>
      <label for="">
        Ваш возраст
        <input type="number" name="age" formControlName="age" />
      </label>
      <div
        class="alert alert-danger"
        *ngIf="profileGroup.controls['age'].invalid"
      >
        Некорректный возраст. Должен быть от 10 до 50
      </div>
    </div>
    <div>
      <label for="">
        Ваша почта
        <input
          type="email"
          name="email"
          placeholder="example@gmail.com"
          formControlName="email"
        />
      </label>
      <div
        class="alert alert-danger"
        *ngIf="
          profileGroup.controls['email'].invalid &&
          profileGroup.controls['email'].touched
        "
      >
        Некорректный адрес почты
      </div>
    </div>
    <div>
      <button type="submit" [disabled]="!profileGroup.valid">
        Отправить форму
      </button>
    </div>
  </form>
</div>
